* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#maincontainer {
    border: 2px solid rgb(104, 53, 53);
    padding: 0;
    background-color: floralwhite;
    width: 910px;
    text-align: left;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
}


#header {
    color: rgb(104, 53, 53);
    font-style: oblique;
    font-size: 50px;
    padding-left: 100px;
    border-bottom: 2px solid rgb(104, 53, 53);
    margin: 0;
    max-width: inherit;
    background-color: rgb(226, 163, 163);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#table {
    width: 100%;
    border-collapse: collapse;
    min-height: 600px;
}

#phototable {
    width: 100%;
    border-collapse: collapse;
}

#nav {
   list-style-type: none;
   margin: 0;
   margin-left: 10px;
   padding: 0;
}

#main {
    margin: 0;
    padding: 0;
    text-align: center;
}

#mainphotos {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    min-height: 600px;
}

#mainbody {
    background-image: url(images/backgrounds/background\ 3.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#otherbody {
    background-color: floralwhite;
}

#webmaster {
    background-color: floralwhite;
    margin: auto;
    max-width: fit-content;
    border: solid 2px rgb(104, 53, 53);
    border-radius: 5px;
    padding: 4px;
    color: rgb(104, 53, 53);
}

.nomarnopad {
    margin: 0;
    padding: 0;
}

.folders {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

ul.folders {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

li.folders {
    float: left;
    vertical-align: top;
    margin: 10px 30px;
    padding: 0;
}

div.folders {
    display: inline-block;
    vertical-align: top;
    background-image: url(images/closedfolder.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100px;
    background-position-y: 10px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

a.folders {
    display: inline-block;
    vertical-align: top;
}

div.folders:hover {
    background-image: url(images/openedfolder.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100px;
    background-position-y: 10px;
}

.folder {
    display: inline-block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 3px;
    margin: 5px;
    text-decoration: none;
    vertical-align: bottom;
    width: 70px;
}

.title {
    font-size: 20px;
    margin: 5px 10px;
    color: rgb(104, 53, 53);
}

.content {
    font-size: 15px;
    margin: 5px 10px;
    color: rgb(104, 53, 53);
}

.left {
    width: 15%;
    border-right: 2px solid rgb(104, 53, 53);
}

.right {
    width: 85%;
    border-left: 2px solid rgb(104, 53, 53);
}

.top {
    border-bottom: 2px solid rgb(104, 53, 53);
    height: 70%;
}

.bottom {
    border-top: 2px solid rgb(104, 53, 53);
    height: 30%;
}

.rose {
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(104, 53, 53);
    border-radius: 2px;
}

.toplink {
    margin-bottom: 5px;
}

.midlink {
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration-line: underline;
}

.botlink {
    margin-top: 5px;
    text-decoration-line: underline;
}

.missingping {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block;
    height: 300px;
    border: 2px solid rgb(104, 53, 53);
}

.miles {
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    display: block;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.links {
    display: block;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    margin-right: 10px;
}

a {
    font-size: 15px;
    text-decoration-line: none;
}

a:link {
    color: rgba(0, 107, 54, 0.89);
}

a:visited {
    color: rgba(0, 107, 54, 0.89);
}

a.links:hover {
    color: rgba(0, 107, 54, 0.89);
    background-color: rgba(0, 0, 0, 0.151);
}

a.web:hover {
    color: rgba(0, 107, 54, 0.89);
    background-color: rgba(0, 0, 0, 0.151);
}

a:active {
    color: rgba(0, 107, 54, 0.89);
}